/********************
***** COLOR
********************/

$color-brand:                     #BE2E21;
$color-primary:                   #6C6C6C;
$color-secondary:                 #FF0000;
$border-color:                    #e4e4e4;

/********************
***** TYPOGRAPHY
********************/

$helvetica-font:                  'Helvetica Neue', Helvetica, Arial, sans-serif;
$amaranth-font-name:              'amaranth-font';
$amaranth-font:                   $amaranth-font-name, Helvetica;
$font-size-base:                  14px;
$font-family-default:             $helvetica-font;
$font-size-default:               $font-size-base;
$line-height-default:             1.4;
$font-bold:                       600;
$font-normal:                     500;

/********************
***** CUSTOM
********************/

$footer-height:                   100px;