@import '~css/landing/settings/settings.scss';

.about-paragraph{
  font-size: 20px;
  font-family: $amaranth-font;
  text-align: justify;

  &.is-italic{
    font-style: italic;
  }

  &.is-bold{
    font-weight: bold;
  }
}

body{
  background-color: #F5F5C4;
}

h1{
  padding: 20px;
  text-align: center;
  transform: rotate(9deg);
}
