@import '~css/landing/settings/settings.scss';
@import url(https://fonts.googleapis.com/css?family=Philosopher:400,400italic,700,700italic);

.home-paragraph{
  font-size: 20px;
  font-family: 'Philosopher', sans-serif;
  text-align: justify;

  &.is-italic{
    font-style: italic;
  }

  &.is-bold{
    font-weight: bold;
  }
}

body{
  background-image: url(/images/landing/light-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

h1{
  padding: 20px;
  text-align: center;
  transform: rotate(-9deg);
}
