extends /views/layouts/application

block head
  unless isDevelopment
    != webpack_asset_css('common')
    != webpack_asset_css('about')

block content
  include /views/partials/header.jade
  h1 #{title} Page

block javascript
  unless isDevelopment
    != webpack_asset_js('common')
    != webpack_asset_js('about')
  else
    script(src='/common.bundle.js')
    script(src='/about.bundle.js')