header.header
  nav
    a(href='/', class=(title=='index')? 'is-active' : '') Home 
    span - 
    a(href='/about', class=(title=='about')? 'is-active' : '') About
    span - 
    a(href='/doesnt-exist') 404