doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href=webpack_asset_url('/images/favicon.png'), type='image/x-icon')
    block head
  body
    block content
    block javascript